[workspace]
resolver = "1"
members = [
    "casper_types",
    "casper_types_ver_2_0",
    "event_sidecar",
    "json_rpc",
    "listener",
    "rpc_sidecar",
    "sidecar",
    "types"
]

[workspace.dependencies]
anyhow = "1"
async-stream = "0.3.4"
casper-types = { path = "./casper_types", version = "4.0.1" }
casper-types-ver-2_0 = { version = "3.0.0", path = "./casper_types_ver_2_0" }
casper-event-sidecar = { path = "./event_sidecar", version = "1.0.0" }
casper-rpc-sidecar = { path = "./rpc_sidecar", version = "1.0.0" }
datasize = "0.2.11"
futures = "0"
futures-util = "0.3.28"
once_cell = "1.18.0"
thiserror = "1"
tokio = "1.23.1"
toml = "0.5.8"
tracing = { version = "0", default-features = false }
tracing-subscriber = "0"
serde = { version = "1", default-features = false }
