[package]
name = "casper-event-sidecar"
authors = ["George Williamson <george@casperlabs.io>"]
version = "0.1.0"
edition = "2018"

[dependencies]
anyhow = {version = "1.0.44", default-features = false }
async-trait = "0.1.56"
bytes = "1.2.0"
casper-event-listener = { path = "../listener", version = "0.1.0"}
casper-event-types = { path = "../types", version = "0.1.0", features = ["sse-data-testing"]}
casper-execution-engine = { git = "https://github.com/casper-network/casper-node", branch = "dev"}
casper-hashing = { git = "https://github.com/casper-network/casper-node", branch = "dev"}
casper-node = { git = "https://github.com/casper-network/casper-node", branch = "dev"}
casper-types = { git = "https://github.com/casper-network/casper-node", branch = "dev"}
derive-new = "0.5.9"
eventsource-stream = "0.2.3"
futures = "0.3.17"
hex = "0.4.3"
hex_fmt = "0.3.0"
http = "0.2.1"
hyper = "0.14.4"
itertools = "0.10.3"
rand = "0.8.3"
regex = "1.6.0"
reqwest = "0.11.11"
sea-query = "0.26.3"
serde = { version = "1.0", features = ["derive"]}
serde_json = "1.0"
sqlx = { version = "0.6", features = [ "runtime-tokio-native-tls", "any", "sqlite"]}
tempfile = "3"
thiserror = "1"
tokio = { version = "1", features = ["full"] }
tokio-stream = { version = "0.1.4", features = ["sync"] }
toml = "0.5.8"
tower = { version = "0.4.13", features = ["buffer", "limit", "make", "timeout"] }
tracing = "0.1"
tracing-subscriber = "0.3"
warp = { version = "0.3.0", features = ["compression"] }
wheelbuf = "0.2.0"

[dev-dependencies]
casper-node = { git = "https://github.com/casper-network/casper-node", branch = "dev", features = ["testing"]}
futures-util = "0.3.21"
pretty_assertions = "1.3.0"
reqwest = { version = "0.11.3", features = ["stream"] }
serial_test = "0.9.0"