[package]
name = "casper-event-sidecar"
authors = ["George Williamson <george@casperlabs.io>", "Jakub Zajkowski <jakub@casperlabs.io>"]
version = "0.1.1"
edition = "2018"
readme = "README.md"
description = "App for storing and republishing sse events of a casper node"
license-file = "../LICENSE"
documentation = "README.md"
homepage = "https://github.com/CasperLabs/event-sidecar"
repository = "https://github.com/CasperLabs/event-sidecar"

[dependencies]
anyhow = { version = "1.0.44", default-features = false }
async-trait = "0.1.56"
bytes = "1.2.0"
casper-event-listener = { path = "../listener", version = "0.1.1" }
casper-event-types = { path = "../types", version = "0.1.1" }
casper-types = { version = "2.0.0", features = ["std"] }
clap = { version = "4.0.32", features = ["derive"] }
derive-new = "0.5.9"
eventsource-stream = "0.2.3"
futures = "0.3.17"
hex = "0.4.3"
hex_fmt = "0.3.0"
http = "0.2.1"
hyper = "0.14.4"
itertools = "0.10.3"
rand = "0.8.3"
regex = "1.6.0"
reqwest = "0.11.11"
sea-query = "0.26.3"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
sqlx = { version = "0.6", features = ["runtime-tokio-native-tls", "any", "sqlite"] }
thiserror = "1"
tokio = { version = "1.23.1", features = ["full"] }
tokio-stream = { version = "0.1.4", features = ["sync"] }
toml = "0.5.8"
tower = { version = "0.4.13", features = ["buffer", "limit", "make", "timeout"] }
tracing = "0.1"
tracing-subscriber = "0.3"
warp = { version = "0.3.3", features = ["compression"] }
wheelbuf = "0.2.0"

[target.'cfg(not(target_env = "msvc"))'.dependencies]
tikv-jemallocator = "0.5"

[dev-dependencies]
async-stream = "0.3.4"
casper-event-types = { path = "../types", version = "0.1.1", features = ["sse-data-testing"] }
casper-types = { version = "2.0.0", features = ["std", "testing"] }
colored = "2.0.0"
futures-util = "0.3.21"
portpicker = "0.1.1"
pretty_assertions = "1.3.0"
reqwest = { version = "0.11.3", features = ["stream"] }
tabled = { version = "0.10.0", features = ["derive", "color"] }
tempfile = "3"
once_cell = "1.17.1"

[package.metadata.deb]
revision = "0"
assets = [
    ["../target/release/casper-event-sidecar", "/usr/bin/casper-event-sidecar", "755"],
    ["../resources/ETC_README.md", "/etc/casper-event-sidecar/README.md", "644"],
    ["../resources/default_config.toml", "/etc/casper-event-sidecar/config.toml", "644"]
]
maintainer-scripts = "../resources/maintainer_scripts/debian"
extended-description = """
Package for Casper Event Sidecar
"""

[package.metadata.deb.systemd-units]
unit-scripts = "../resources/maintainer_scripts/casper_event_sidecar"
restart-after-upgrade = true

[package.metadata.deb.variants.bionic]
name = "casper-event-sidecar"
revision = "0+bionic"

[package.metadata.deb.variants.focal]
name = "casper-event-sidecar"
revision = "0+focal"
