[package]
name = "casper-event-types"
version = "0.1.0"
edition = "2021"

[dependencies]
blake2 = { version = "0.9.0", optional = true }
casper-types = { version = "2.0.0", features = ["std"] }
hex-buffer-serde = "0.3.0"
hex_fmt = "0.3.0"
rand = { version = "0.8.5", optional = true }
serde = { version = "1", features = ["derive", "rc"] }
serde_json = "1.0"
thiserror = "1.0.39"

[features]
sse-data-testing = ["blake2", "casper-types/testing", "rand"]
