[package]
name = "casper-event-types"
version = "0.1.0"
edition = "2021"

[dependencies]
casper-execution-engine = "3.0.0"
casper-types = { git = "https://github.com/casper-network/casper-node.git", branch = "dev", features = ["datasize", "json-schema", "std"] }
casper-hashing = { git = "https://github.com/casper-network/casper-node.git", branch = "dev" }
datasize = { version = "0.2.9", features = ["detailed", "fake_clock-types", "futures-types", "smallvec-types"] }
derive_more = "0.99.7"
ed25519-dalek = { version = "1", default-features = false }
hex-buffer-serde = "0.3.0"
hex_fmt = "0.3.0"
itertools = "0.10.3"
k256 = { version = "0.7.2", features = ["arithmetic", "ecdsa", "sha256", "zeroize"] }
num-traits = "0.2.10"
schemars = { version = "=0.8.5", features = ["preserve_order", "impl_json_schema"] }
serde = { version = "1", features = ["derive", "rc"] }
serde_json = "1.0"
rand = { version = "0.8.5", optional = true }
thiserror = "1.0.39"
tracing = "0.1.18"
rand_pcg = "0.3.1"
base16 = "0.2.1"

[features]
sse-data-testing = ["rand", "casper-types/testing"]
