[Unit]
Description=Casper Event Sidecar
Documentation=https://docs.casperlabs.io
After=network-online.target

[Service]
Type=simple
# This is currently hardcoded in binary as path, but leaving argument for future changes to use path
ExecStart=/usr/bin/casper-event-sidecar /etc/casper-event-sidecar/config.toml
User=csidecar
Group=csidecar

[Install]
WantedBy=multi-user.target
