---
name: ci-casper-event-sidecar

on:
  push:
    branches:
      - "dev"
      - "feat-*"
      - "rc-*"
      - "nctl-extracted-sidecar"
    paths-ignore:
      - '**.md'

  pull_request:
    branches:
      - "dev"
    paths-ignore:
      - '**.md'

env:
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:
    strategy:
      matrix:
        os: [ubuntu-20.04, ubuntu-22.04]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b #v3.0.2
        with:
            path: /home/runner/work/event-sidecar/event-sidecar/event-sidecar
      - name: list files 1
        run: |
            ls ${{ github.workspace }}
      - name: pwd 1
        run: |
            pwd
      - uses: actions/checkout@master
        with:
            repository: zajko/casper-node
            ref: refs/heads/nctl-extracted-sidecar
            path: /home/runner/work/event-sidecar/event-sidecar/casper-node
      - name: list files 2
        run: |
            ls ${{ github.workspace }}
      - name: pwd 2
        run: |
            pwd
      - uses: Swatinem/rust-cache@6720f05bc48b77f96918929a9019fb2203ff71f8
        with:
          shared-key: ${{ matrix.os }}

      - name: update toolchain
        run: rustup update