---
name: ci-casper-sidecar

on:
  push:
    branches:
      - "dev"
      - "feat-*"
      - "rc-*"
    paths-ignore:
      - '**.md'

  pull_request:
    branches:
      - "dev"
    paths-ignore:
      - '**.md'

env:
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:
    strategy:
      matrix:
        os: [ubuntu-20.04, ubuntu-22.04]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b #v3.0.2
      - uses: Swatinem/rust-cache@6720f05bc48b77f96918929a9019fb2203ff71f8
        with:
          shared-key: ${{ matrix.os }}

      - name: update toolchain
        run: rustup update

      - name: fmt
        run: cargo fmt -- --check

      - name: clippy
        run: cargo clippy --all-targets -- --deny warnings

      - name: audit
        # Hope to get to here:
        # run: cargo audit --deny warnings
        # RUSTSEC-2023-0071 - there is a transitive audit issue via sqlx. There is no fix for that yet, we should update dependencies once a fix is presented
        # RUSTSEC-2024-0363 - issue in sqlx 0.8.0, no fix available yet
        run: cargo audit --ignore RUSTSEC-2023-0071 --ignore RUSTSEC-2024-0363

      - name: test
        run: cargo test

      - name: install cargo packaging tools
        run: |
          cargo install cargo-deb

      - name: deb
        run: cargo deb --package casper-sidecar
